/* Palettes */
$color-blush: (
  50: #fef8fa,
  100: #fceef3,
  200: #fae3ec,
  300: #f8d8e4,
  400: #f7cfde,
  500: #f5c7d8,
  600: #f4c1d4,
  700: #f2bace,
  800: #f0b3c8,
  900: #eea6bf,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$color-lightblue: (
  50: #f1fbfe,
  100: #ddf5fc,
  200: #c6effa,
  300: #afe9f7,
  400: #9ee4f6,
  500: #8ddff4,
  600: #85dbf3,
  700: #7ad7f1,
  800: #70d2ef,
  900: #5dcaec,
  A100: #ffffff,
  A200: #ffffff,
  A400: #eefbff,
  A700: #d4f5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$color-teal: (
  50: #e5f4f3,
  100: #bee4e1,
  200: #93d3cd,
  300: #67c1b8,
  400: #47b3a9,
  500: #26a69a,
  600: #229e92,
  700: #1c9588,
  800: #178b7e,
  900: #0d7b6c,
  A100: #adfff3,
  A200: #7affec,
  A400: #47ffe4,
  A700: #2dffe0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$color-purple: (
  50: #f4eef6,
  100: #e4d5e7,
  200: #d3b9d8,
  300: #c19cc8,
  400: #b387bc,
  500: #a672b0,
  600: #9e6aa9,
  700: #955fa0,
  800: #8b5597,
  900: #7b4287,
  A100: #f9deff,
  A200: #f0abff,
  A400: #e678ff,
  A700: #e25eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
