@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./helpers";
@import "./vars";
@import "./component";

/* Boilerplate */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Font, etc. */
.material-icons {
  font-family: "Material Icons Outlined";
}

/* Globals */
@include ng-scroll-fill;
@include ng-scroll-fix;
@include button-icon-fix;

/* Component Specific */
